html {
    box-sizing: border-box;
}

* *::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #490202;
    margin: 0 auto;
}

p,
h1,
h2,
h3 {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    min-height: 100%;
}

.box_todo {
    width: 500px;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 180, 179);
    align-items: start;
    padding: 15px;
}

.list {
    list-style: none;
    font-style: normal;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.box_title {
    width: 100%;
}

.title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding: 25px 0px 25px 0px;
}

.box_inp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 30px;
    margin-bottom: 30px;

}

.input {
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0px 10px 0px 10px;
}

.inp_btn {
    height: 50px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(51, 247, 153);
    color: rgb(63, 26, 20);
    padding: 15px 30px;
    text-align: center;
}

.ul_to_do {
    text-align: start;
}

.ul_to_do li {
    cursor: pointer;
    font-size: 18px;
    padding: 12px 10px 12px 50px;
    position: relative;
}

.ul_to_do li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #111;
    top: 12px;
    left: 12px;
}

.ul_to_do li::after {
    content: '';
}

.ul_to_do li.selected {
    color: #555;
    text-decoration: line-through;
}

.ul_to_do li.selected::before {
    background-color: rgb(51, 247, 153);
    border-color: rgb(51, 247, 153);
}

.ul_to_do li.selected::after {
    content: '\2714';
    position: absolute;
    top: 11px;
    left: 16px;
    color: #f1f1f1;
}